div.sign-in
	div.sign-in__icon
		include ../icon/icon.pug
		+icon('icon--singin')

	div.sign-in__process
		h3.sign-in__title Signup Process

		ol.sign-in__list
			li.sign-in__item
				span User enters email address

			li.sign-in__item
				span Clicks on “Sign up for free”