doctype html
html(lang="en")
	include include/head.pug
	+head('Craft Lance One')

	body
		include ../blocks/header/header
		include ../blocks/home-top/home-top
		include ../blocks/community/community
		include ../blocks/menu-vertical/menu-vertical
		include ../blocks/services/services
		include ../blocks/data/data
		include ../blocks/footer/footer

		include include/script.pug