doctype html
html(lang="ru")
	include include/head.pug
	+head('Style Guide')

	body

		//include ../blocks/icon/icon.pug
		//+icon('icon--aircraft')
		//+icon('icon--arrow-right')
		//+icon('icon--bags')
		//+icon('icon--book')
		//+icon('icon--check')
		//+icon('icon--check2')
		//+icon('icon--cup')
		//+icon('icon--exit')
		//+icon('icon--fb')
		//+icon('icon--folder')
		//+icon('icon--gl')
		//+icon('icon--in')
		//+icon('icon--logo')
		//+icon('icon--mail')
		//+icon('icon--mark')
		//+icon('icon--mmechanism')
		///+icon('icon--phone')
		//+icon('icon--plant')
		//+icon('icon--sgprocces')
		//+icon('icon--singin')
		//+icon('icon--tw')
		
		//include ../blocks/btn/btn.pug
		//+btn({text: 'Sign In'})
		//+btn({text: 'PURCHASE'})(class="btn--outline")
		

		include ../blocks/header/header
		include ../blocks/home-top/home-top
		include ../blocks/community/community
		include ../blocks/services/services
		include ../blocks/data/data
		include ../blocks/footer/footer

		
		
		include include/script.pug