.community {
	/* 4 Decor */
	background-color: $color-bg-2;
}
.community__header {
	/* 2 Block model */
	margin-bottom: 37px;
}
.community__body {
	/* 2 Block model */
	width: 100%;
	max-width: 630px;
	margin: 0 auto;
	padding: 20px 7px 20px 24px;

	/* 4 Decor */
	background-color: $color-white;
	-webkit-box-shadow: 0px 0px 9px 3px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px 0px 9px 3px rgba(50, 50, 50, 0.3);
	box-shadow:         0px 0px 9px 3px rgba(50, 50, 50, 0.3);

	@media(min-width: 768px) {
		/* 2 Block model */
		padding: 20px 7px 20px 150px;
	}
	@media(min-width: 1200px){
		/* 2 Block model */
		padding: 103px 34px 60px 162px;
	}
}
.community__list {
	/* 2 Block model */
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 15px 0 0 0;

	/* 4 Decor */
	list-style: none;

	@media(min-width: 768px) {
		/* 2 Block model */
		flex-direction: row;
		margin: 0 160px;
	}
	@media(min-width: 992px) {
		/* 2 Block model */
		margin: 0 18px;
	}
	@media(min-width: 1200px) {
		/* 2 Block model */
		margin: 0;
		padding: 40px 0 0 35px;
	}
}
.community__item {
	/* 2 Block model */
	padding: 10px 42px;

	@media(min-width: 768px) {
		/* 2 Block model */
		padding: 0 42px;
	}
	@media(min-width: 1200px) {
		/* 2 Block model */
		padding: 0 42px;
	}
}
.community__item:first-child{
	/* 2 Block model */
	padding: 0 0 10px 0;

	@media(min-width: 768px) {
		/* 2 Block model */
		padding: 0;
	}
	@media(min-width: 1200px) {
		/* 2 Block model */
		padding: 0 40px 0 0;
	}
}
.community__item:last-child{
	/* 2 Block model */
	padding: 10px 0 0 0;

	@media(min-width: 768px) {
		/* 2 Block model */
		padding: 0;
	}
	@media(min-width: 1200px) {
		/* 2 Block model */
		padding: 0 0 0 67px;
	}
}