div.data
	div.wrap-1
		div.container
			div.row
				div.col-12.col-lg-10.offset-lg-1
					div.data__header
						include ../title/title
						+title({tag: 'h2', text: 'A Comprehensive Data Integration and Business Analytics Platform'})

			div.row
				div.col-12.col-md-4.col-lg-3
					include ../data-item/data-item
					+data-item({icon: 'icon--book', title: 'Community Edition' , info: 'Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.'})

				div.col-12.col-md-4.col-lg-3
					+data-item({icon: 'icon--bags', title: 'Community Edition' , info: 'Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.'})(class="data-item--active")

				div.col-12.col-md-4.col-lg-3
					+data-item({icon: 'icon--mmechanism', title: 'Community Edition' , info: 'Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.'})

				div.col-12.col-md-4.col-lg-3
					+data-item({icon: 'icon--exit', title: 'Community Edition' , info: 'Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.'})

				div.col-12.col-md-4.col-lg-3
					+data-item({icon: 'icon--cup', title: 'Community Edition' , info: 'Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.'})

				div.col-12.col-md-4.col-lg-3
					+data-item({icon: 'icon--plant', title: 'Community Edition' , info: 'Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.'})

				div.col-12.col-md-4.col-lg-3
					+data-item({icon: 'icon--aircraft', title: 'Community Edition' , info: 'Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.'})

				div.col-12.col-md-4.col-lg-3
					+data-item({icon: 'icon--folder', title: 'Community Edition' , info: 'Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.'})